<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.mtini.android.tenantmanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EstateActivity"
            android:label="@string/estate_list"
            android:parentActivityName="MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.mtini.android.tenantmanager.EstateActivity" />
        </activity>
        <!--<activity android:name=".EstateDetailsActivity"
            android:label="@string/estate_details"
            android:parentActivityName=".EstateActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.mtini.android.tenantmanager.EstateDetailsActivity" />
        </activity>
        <activity android:name=".TenantDetailsActivity"
            android:label="@string/tenant_details"
            android:parentActivityName=".EstateDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.mtini.android.tenantmanager.TenantDetailsActivity" />
        </activity>-->
        <activity android:name=".FragmentedEstateDetailsActivity"
            android:label="Fragmented Estate Activity"
            android:parentActivityName=".EstateActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.mtini.android.tenantmanager.FragmentedEstateDetailsActivity" />
        </activity>

    </application>

</manifest>